<h2>Mon menu hebdo</h2>

<p>Recevez chaque semaine un menu pour la semaine</p>

<%= form_for @subscriber do |f| %>
  <%= render "/shared/error_messages", :target => @subscriber %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email %>
  <%= f.submit "Je m'abonne" %>
<% end %>


