<!DOCTYPE html>
<html>
<head>
  <title>Menu Hebdo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render "shared/flashbox" %>
    <div id="header">
      <div id="logout"><%= link_to "se deconnecter", destroy_admin_session_path, method: :delete %></div>
      <h1><a href='/'>Menu hebdo</a></h1>
      <%= render "shared/private/navbar" %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
