<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "Email", autofocus: true, size: 35 %>
    <%= f.password_field :password, placeholder: "Mot de passe", size: 35 %>
    <%= f.submit "M'identifier" %>
  </div>
  <%= f.hidden_field :remember_me, value: true %>
<% end %>

<%= render "private/shared/links" %>
